<div class="container-fluid">
    
    <h1 class="fw-bolder mt-5">Aspiring Front-End Developer!</h1>
    
    <div class="container">

    <div class="content">
        <h6 class="fw-bold">{{'biography'| uppercase}}</h6>
        <p>Hi, I'm <span class="fw-bold">Vegneshwari</span> , a web developer with a passion for creating function, beautiful, user-centered digital experiences. 
        I was into non-IT, but i wanted to get into IT field as i was passionate about coding. 
        I have done 8 mini-projects that showcase my interest and knowledge towards <span class="fw-bold">Front-End development</span>. 
        I an always looking for new and innovative ways to bring my client's visions to life.
        <br>
        <br>
        I believe that web development is about more than just making things look eye-catchy - it's about solving problems and creating intuitive, enjoyable experiences for users.
        <br>
        <br>
        Whether i'm working on a website, mobile app, or other digital products, I bring my commitment to design excellence and user-centered thinkin to every project I work on. I look forward to the opportunity to bring my skills and passion to your next project.  </p>
    </div>
    

    <div class="certificate">
        <img src="assets/Angular certificate.jpg" alt="Angular certificate">
    </div>

    <div class="arr">
        
        <div class="line-with-arrow">
            <div class="arrow-line m-4"></div>
            <div class="arrow m-4"></div>
        </div>

        <div class="line-with-arrow">
            <div class="arrow-line m-4"></div>
            <div class="arrow m-4"></div>
        </div>
        
        <div class="line-with-arrow">
            <div class="arrow-line m-4"></div>
            <div class="arrow m-4"></div>
        </div>

    </div>

    <div class="practices">

            <div class="course"> Course: 
                <h3 class="fw-bold">Front-End Development</h3> 
            </div> 

            <div class="framework"> Framework: 
                    <h3 class="fw-bold">Angular</h3>
            </div>

            <div class="projects"> Mini-Projects:
                <h3 class="fw-bold">8 Mini-Projects</h3> 
            </div>

    </div>

</div>

<div class="skills m-5 p-3">

    <h3>Skills</h3>

    <ul class="m-5">
        <li>HTML</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>Javascript</li>
        <li>Typescript</li>
        <li>Angular</li>
        <li>Basics of Java</li>
    </ul>

</div>



<router-outlet></router-outlet>
