<div class="container">

    <div class="projects mt-3">

        <h1>Projects speak louder than promises!</h1>

        <div class="card">

            <div> <img src="assets/CRUD.png" alt="CRUD"> </div>
            <div> <img src="assets/HTTP_client_module.jpg" alt="HTTP_client_module"> </div>
            <div> <img src="assets/form_array.jpg" alt="Form_array"></div>
            <div> <img src="assets/Book_app.jpg" alt="Book_app"> </div>
            <div> <img src="assets/Angular_pipe.png" alt="Angular_pipe"> </div>
            <div> <img src="assets/reactive_form.png" alt="Reactive_form"> </div>
            <div> <img src="assets/portfolio.jpg" alt="portfolio"> </div>
            <div> <img src="assets/routing.jpg" alt="E-commerce app at routing"> </div>


        </div>
    </div>
</div>

<router-outlet></router-outlet>