<div class="container">

    <div class="projects mt-3">

        <h1>Projects speak louder than promises!</h1>

        <div class="card">

            <div> <a href="https://github.com/Vegneshwari/Angular_Mini-Projects/tree/main/CRUD" target="_blank"> <img src="assets/CRUD.png" alt="CRUD"> </a> <h3>CRUD</h3> </div> 
            <div> <a href="https://github.com/Vegneshwari/Angular_Mini-Projects/tree/main/HTTP%20client%20module" target="_blank"> <img src="assets/HTTP_client_module.jpg" alt="HTTP_client_module"> </a> <h3>HTTP Client Module</h3> </div>
            <div> <a href="https://github.com/Vegneshwari/Angular_Mini-Projects/tree/main/Form%20Array" target="_blank"> <img src="assets/form_array.jpg" alt="Form_array"> </a> <h3>Form Array</h3> </div>
            <div> <a href="https://github.com/Vegneshwari/Angular_Mini-Projects/tree/main/Book%20app" target="_blank"> <img src="assets/Book_app.jpg" alt="Book_app"> </a> <h3>Book App</h3> </div>
            <div> <a href="https://github.com/Vegneshwari/Angular_Mini-Projects/tree/main/Angular%20Pipes" target="_blank"> <img src="assets/Angular_pipe.png" alt="Angular_pipe"> </a> <h3>Angular Pipe</h3> </div>
            <div> <a href="https://github.com/Vegneshwari/Angular_Mini-Projects/tree/main/Angular%20Reactive%20form" target="_blank"> <img src="assets/reactive_form.png" alt="Reactive_form"> </a> <h3>Reactive Form</h3> </div>
            <div> <a href="https://github.com/Vegneshwari/Angular_Mini-Projects/tree/main/Portfolio" target="_blank"> <img src="assets/portfolio.jpg" alt="portfolio"> </a> <h3>Portfolio</h3> </div>
            <div> <a href="https://github.com/Vegneshwari/Angular_Mini-Projects/tree/main/E-Commerce%20app(Routing)" target="_blank"> <img src="assets/routing.jpg" alt="E-commerce app at routing"> </a> <h3>E-commerce(Routing)</h3> </div>


        </div>
    </div>
</div>

<router-outlet></router-outlet>